# Mac OS X
.DS_Store

# Server Configs
Servers

*target*
#*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
#.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
#.classpath
#.settings/
.loadpath


# Intellij 
.idea/
*.iml 
*.iws

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

/netbeans/HelloWebApplication/nbproject/private/
/netbeans/HelloEnterpriseApplication/nbproject/private/
/netbeans/HelloEnterpriseApplication/HelloEnterpriseApplication-war/nbproject/private/
/netbeans/HelloEnterpriseApplication/HelloEnterpriseApplication-ejb/nbproject/private/