<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>securityfilter</display-name>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
     
	<filter>
      <filter-name>ValidationFilter</filter-name>
      <filter-class>filter.ValidationFilter</filter-class>
   </filter>
   
   <filter-mapping>
      <filter-name>ValidationFilter</filter-name>
      <servlet-name>HelloServletFiltered</servlet-name>
   </filter-mapping>

	
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>mypkg.Hello</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
  
   <servlet>
        <servlet-name>HelloServletFiltered</servlet-name>
        <servlet-class>mypkg.HelloFiltered</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServletFiltered</servlet-name>
        <url-pattern>/hellofiltered</url-pattern>
    </servlet-mapping>

  
</web-app>